In [150]:
import pandas as pd

In [151]:
soldinfo = pd.read_table('soldinfo.txt', sep='\t')
sellinfo = pd.read_table('sellinfo.txt', sep='\t')

In [152]:
soldinfo = soldinfo.drop(['schoolInfo', 'titleString', 'framePicUrl', ], axis=1)

In [153]:
soldinfo.columns

Index(['houseCode', 'signPrice', 'listPrice', 'dealCycle', 'signTime',
       'houseAreaNum', 'unitPrice', 'resblockName', 'year', 'buildingType',
       'elevator', 'isGarage', 'frameOrientation', 'decorationType',
       'districtName', 'bizcircleName', 'districtId', 'subwayInfo',
       'floorInfo', 'longitude', 'latitude'],
      dtype='object')

In [154]:
soldinfo['longitude'] = soldinfo['longitude'].astype('object')
soldinfo['latitude'] = soldinfo['latitude'].astype('object')

In [155]:
soldinfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8187 entries, 0 to 8186
Data columns (total 21 columns):
houseCode           8187 non-null object
signPrice           8187 non-null int64
listPrice           8187 non-null float64
dealCycle           8187 non-null object
signTime            8187 non-null object
houseAreaNum        8187 non-null float64
unitPrice           8187 non-null int64
resblockName        8187 non-null object
year                7845 non-null float64
buildingType        8187 non-null object
elevator            8187 non-null object
isGarage            8187 non-null bool
frameOrientation    8187 non-null object
decorationType      8187 non-null object
districtName        8187 non-null object
bizcircleName       8187 non-null object
districtId          8187 non-null int64
subwayInfo          3513 non-null object
floorInfo           8187 non-null object
longitude           8187 non-null object
latitude            8187 non-null object
dtypes: bool(1), float64(3), int64(3), object(14)
memory usage: 1.3+ MB

In [156]:
soldinfo['经纬度'] = None

In [157]:
sellinfo['经纬度'] = None

In [158]:
for i in range(len(soldinfo['latitude'])):
    soldinfo['经纬度'][i] = str(round(soldinfo['longitude'][i], 6)) + ',' + str(round(soldinfo['latitude'][i], 6))

c:\python\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [159]:
for i in range(len(sellinfo['latitude'])):
    sellinfo['经纬度'][i] = str(round(sellinfo['longitude'][i], 6)) + ',' + str(round(sellinfo['latitude'][i], 6))

c:\python\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [160]:
soldinfo_map = soldinfo.loc[:, 'longitude':'经纬度'].copy()

In [161]:
sellinfo_map = sellinfo.loc[:, 'longitude':'经纬度'].copy()

In [162]:
soldinfo_map['unitPrice'] = soldinfo['unitPrice']
soldinfo_map['signPrice'] = soldinfo['signPrice']
soldinfo_map = soldinfo_map.drop(['longitude', 'latitude'], axis=1)

In [163]:
soldinfo_map.sample(5)

                       经纬度  unitPrice  signPrice
7907   120.232117,30.18971      20077        100
5191  120.209767,30.236305      42535        390
1657  120.294888,30.407117      24839        345
880   120.181926,30.225783      43641        199
7337   119.98271,30.059746      18706        260

In [164]:
soldinfo_map.to_csv('soldinfo_map.csv', encoding='utf-8')

In [165]:
sellinfo_map['unitPrice'] = sellinfo['unitPrice']
sellinfo_map['signPrice'] = sellinfo['price']
sellinfo_map = sellinfo_map.drop(['longitude', 'latitude'], axis=1)

In [166]:
sellinfo_map.sample(5)

                       经纬度  unitPrice  signPrice
211   120.141177,30.319607      44486      390.0
4160  120.165593,30.242666      66553      310.0
2865  119.968386,30.142823      22667      170.0
6455  120.109155,30.289385      58023      635.0
2021  120.209504,30.239026      54304      330.0

In [167]:
sellinfo_map.to_csv('sellinfo_map.csv', encoding='utf-8')

In [168]:
housing_map = pd.concat([sellinfo_map, soldinfo_map], axis=0)

In [176]:
housing_map.sample(5)

                       经纬度  unitPrice  signPrice
1853  120.233528,30.356933      28090      250.0
1816  120.239044,30.351719      31235      192.0
4766  120.307223,30.432755      19445      144.0
7157  120.140063,30.305551      20000       72.0
7763  120.275103,30.331327      36236      308.0

In [177]:
housing_map.to_csv('heatmap_data.csv', encoding='utf-8')